
.NavPage {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    width: 49.85vw;
    height: 49.7vh;
}

.PageText {
    text-align: center;
    color: #0e0e0e;
    font-family: "Ubuntu";
    line-height: 1.4375em;
    font-weight: 500;
    font-size: 3.5em;
}


.NavPage1 {
    border-bottom: 0.3vh solid #e30813;
    border-right: 0.15vw solid #e30813;
}

.NavPage2 {
    border-bottom: 0.3vh solid #e30813;
    border-left: 0.15vw solid #e30813;
}

.NavPage3 {
    border-top: 0.3vh solid #e30813;
    border-right: 0.15vw solid #e30813;
}

.NavPage4 {
    border-top: 0.3vh solid #e30813;
    border-left: 0.15vw solid #e30813;
}

.NavPage1:hover {
    background-image: linear-gradient(135deg, #6b040a 0%, #e30813 50%, #f04e59 100%);
}

.NavPage2:hover {
    background-image: linear-gradient(225deg, #6b040a 0%, #e30813 50%, #f04e59 100%);
}

.NavPage3:hover {
    background-image: linear-gradient(45deg, #6b040a 0%, #e30813 50%, #f04e59 100%);
}

.NavPage4:hover {
    background-image: linear-gradient(315deg, #6b040a 0%, #e30813 50%, #f04e59 100%);
}