.BasicDisabledButton{
    background-color: #101010;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    opacity: 0.3;
}

.BasicButton{
    background-color: #101010;
    border-radius: 10px;
    min-width: 200px;
    height: 50px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.BasicButton:hover{
    background-color: #b31739;
}

.BasicButtonText{
    cursor: pointer;
}