.BasicDisabledButton{
    border-radius: 10px;
    width: 200px;
    height: 50px;
    opacity: 0.3;
    user-select: none;
}

.BasicButton{
    border-radius: 10px;
    min-width: 200px;
    height: 50px;
    transition-duration: 0.5s;
    cursor: pointer;
    user-select: none;
}

.BasicButtonText{
    cursor: pointer;
}