.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    max-height: 75vh;
    width: 85%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalInfo {
    background-color: rgba(245, 244, 240, 0.95);
    border-bottom-left-radius: 16px;
    overflow-y: auto;
    border-bottom-right-radius: 16px;
    padding-left: 5%;
    width: 95%;
}

.modalInfoText {
    width: 95%;
}

.ModelSelector{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: rgba(222, 222, 220, 0.95);
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}