.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    max-height: 70vh;
    border-radius: 16px;
    background-color: rgba(245, 244, 240, 0.96);
    width: 85%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalInfo {
    overflow-y: auto;
    padding-left: 5%;
    margin-bottom: 30px;
    width: 95%;
}

.modalInfoText {
    width: 95%;
}

.ModelSelector{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}