.PlayBar {
    width: 194px;
    height: 44px;
    border-radius: 10px;
}

.PlayBarButtons {
    height: 44px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.activePlayBarIcon {
    color: #9c27b0;
}
.activePlayBarIcon:hover {
    color: #d845f1;
}

.disabledPlayBarIcon {
    color: #5c2c6c;
}