.PlayBar {
    width: 194px;
    height: 44px;
    border-radius: 10px;
}

.PlayBarButtons {
    height: 44px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.activePlayBarIcon {
    color: #b31739;
    cursor: pointer;
}
.activePlayBarIcon:hover {
    color: #ea4334;
}

.disabledPlayBarIcon {
    color: #4f1320;
}